@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #000; /* Black background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    color: #fc8019; /* Swiggy orange */
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    color: #fff; /* White text */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fc8019; /* Orange border */
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #fc8019; /* Swiggy orange */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #d5690a; /* Darker orange on hover */
}

a {
    color: #fc8019; /* Swiggy orange */
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
}

a:hover {
    color: #d5690a; /* Darker orange on hover */
}

